<%- include ("partials/header") %>
  <!-- 主要容器網格系統 -->
  <div class="ts narrow container grid">
    <!-- 左側欄位 -->
    <div class="twelve wide column">
      <br>

      <!-- 中部主要聊天訊息 -->
      <div class="ts attached secondary segment">
        <!-- 對話氣泡 -->
        <div class="ts speeches">
          <!-- appendChild from app.js -->
        </div>
        <!-- / 對話氣泡 -->
      </div>
      <!-- / 中部主要聊天訊息 -->

      <!-- 底部輸入欄位 -->
      <div class="ts bottom attached segment">
        <div class="ts grid">
          <div class="stretched column">
            <div class="ts fluid input">
              <input placeholder="在此輸入文字⋯⋯" />
            </div>
          </div>
          <div class="column">
            <div id="btnAddMsg" class="ts button info">
              <i class="icon chat"></i>送出</div>
          </div>
        </div>
      </div>
      <!-- / 底部輸入欄位 -->
    </div>
    <!-- / 左側欄位 -->
  </div>
  <!-- / 主要容器網格系統 -->
</body>
<script src='./js/sign.js'></script>
<script src='./js/app.js'></script>

</html>