<%- include ("partials/header") %>

 <!-- 主要容器網格系統 -->
  <div class=" narrow container grid">

      <!-- 中部主要聊天訊息 -->
      <div class="messages segment">
        <!-- 對話氣泡 -->
        <div class="bubbles">
          <!-- appendChild from app.js -->
        </div>
        <!-- / 對話氣泡 -->
      </div>
      <!-- / 中部主要聊天訊息 -->

      <!-- 底部輸入欄位 -->
      <div class="bottom attached segment">
        <div class="grid">
          <div class="stretched column">
            <div class="fluid input">
              <input placeholder="在此輸入文字⋯⋯" />
            </div>
          </div>
          <button id="btnAddMsg" type="submit" class="btn btn-sm btn-success">Sent</button>
        </div>
      </div>
      <!-- / 底部輸入欄位 -->  
  </div>
  <!-- / 主要容器網格系統 -->
<script src="./javascripts/sign.js"></script>
<script src="./javascripts/app.js"></script>
<%- include ("partials/footer") %>