<%- include ("partials/header") %>

<div>
	<form action="/forgot" method="POST">
		<h4>Forgot Password</h4>
			<p><label for="password">Email</label>
			<input type="email" id="email" name="email" placeholder="Email Address" required></p>
			<button type="button" class="btn btn-sm btn-danger"onclick="this.form.reset();">Clear Form</button>
        	<button type="submit" class="btn btn-sm btn-success">Submit</button>		
	</form>
</div>

<%- include ("partials/footer") %>