<%- include ("partials/header") %>

<body id="landingPage">

	<div id="landingPage" class="container">
		<div class="jumbotron">
			<h1>Meal Link</h1>
		</div>
	</div>

<%- include ("partials/footer") %>
	

