<%- include ("partials/header") %>

<div id="loginPage" class="container">
	<h1> Login page </h1>
</div>


<div class="container">
	<form action="/login" method="post">
		<label for="email">Email Address</label>
		<input type="emai;" name="email" placeholder="Eamil Address" 
		id="email" required>
		<label for="password">Password</label>
    	<input type="password" name="password" id="password"
		placeholder="Password" required class="my-password" >
		<!-- <p><label for="confirmPassword">Confirm Password</label> -->
	    <!-- <input type="password" id="confirmPassword" name="confirmPassword" 
	    placeholder="Confirm Password" class="my-password" required> -->
		<button id= "login" type="submit">Login</button>
	</form>
</div>
<button><a href="/forgot">Forgot Password </a></button>
<button><a href="/register">Not a member, click here to register</a></button>

<%- include ("partials/footer") %>
			