<%- include ("partials/header") %>

<script type="text/javascript">
      (document).ready(function(){
        ('.showPassword').on('change',function(){
          var isChecked = (this).prop('checked');
          if (isChecked) {
            ('.my-password').attr('type','text');
          } else {
            ('.my-password').attr('type','Password');
          }
        });
      });
  </script>

<div>
	<form action="/reset/<%= token %>" method="POST">
        <h4 >Reset Password</h4>
			<p>	
			<label for="newPassword">New Password</label>
			<input type="password" name="password" id="newPassword" 
			placeholder="New Password" pattern ="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"
			title="Password must between 6 and 20 characters and must include at least 1 number, 1 lowercase 
			and 1 uppercase letter." class="my-password"> 
			<input type="checkbox" class="showPassword">Show Password</p>
			<p>		
			<label for="confirmPassword">Confirm Password</label>
			<input type="password" name="confirm" id="confirmPassword" placeholder="Confirm Password" required class="my-password">
		<input type="checkbox" class="showPassword">Show Password</p>
			<button type="button" class="btn btn-sm btn-danger"onclick="this.form.reset();">Clear Form</button>
        	<button type="submit" class="btn btn-sm btn-success">Update Password</button>				
	</form>	
</div>

<%- include ("partials/footer") %>