#landingPage {
	background: url("https://www.ntust.edu.tw/ezfiles/126/1126/randimg/ad_2433_3291232_62503.jpg")
	no-repeat center center fixed;
  	background-size: cover;
}

#landingPage {
	padding-top: 20px;
}

#editPage {
	padding-top: 30px;
}

#indexPage {
	padding-top: 30px;
}

#registerPage {
	padding-top: 30px;
}

#showPage {
	padding-top: 30px;
}

#loginPage {
	padding-top: 30px;
}

#headerAlert {
	padding-top: 50px;
}

/* chat content scroll */

.bubbles {
  overflow-y: scroll;
  height: 400px;
  padding-right: 10px;
}

.bubbles {
  color: #999;
  position: relative;
  display: table;
  padding: .58em 0;
  word-wrap: normal;
  font-size: 12px;
  line-height: 2em;
}
